#Titanic - Machine Learning from a Disaster

In [43]:
import pandas
import numpy
from sklearn import neighbors
from sklearn.neighbors import DistanceMetric 
from pprint import pprint

MY_TITANIC_TRAIN ='./sample_data/train.csv'
MY_TITANIC_TEST = './sample_data/test.csv'
titanic_dataframe = pandas.read_csv(MY_TITANIC_TRAIN)
print('length: {0} '.format(len(titanic_dataframe)))
titanic_dataframe.head(2)

length: 891

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [44]:
ave_age = 29.699118
titanic_dataframe['Age'].fillna(ave_age, inplace=True)

We replaced the NA age values with the mean ages to complete data set.

In [46]:
titanic_dataframe = titanic_dataframe.dropna()

titanic_dataframe['Sex'].unique()
titanic_dataframe['Gender'] = titanic_dataframe['Sex'].map({'female': 0, 'male': 1}).astype(int)
titanic_dataframe['Embarked'].unique()
titanic_dataframe['Port'] = titanic_dataframe['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

titanic_dataframe.drop(['Sex', 'Embarked', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [47]:
cols = titanic_dataframe.columns.tolist()
cols = [cols[1]] + cols[0:1] + cols[2:]
titanic_dataframe = titanic_dataframe[cols]

train_data = titanic_dataframe[cols[2: ]]
train_target = titanic_dataframe[cols[1]]

pprint('column_list: {0}'.format(cols))
print(train_data.head(2))

("column_list: ['Survived', 'PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', "
 "'Fare', 'Gender', 'Port']")
   Pclass   Age  SibSp  Parch     Fare  Gender  Port
1       1  38.0      1      0  71.2833       0     1
3       1  35.0      1      0  53.1000       0     2

In [48]:
titanic_dataframe.head(5)

    Survived  PassengerId  Pclass   Age  SibSp  Parch     Fare  Gender  Port
1          1            2       1  38.0      1      0  71.2833       0     1
3          1            4       1  35.0      1      0  53.1000       0     2
6          0            7       1  54.0      0      0  51.8625       1     2
10         1           11       3   4.0      1      1  16.7000       0     2
11         1           12       1  58.0      0      0  26.5500       0     2

In [35]:
def hamming_distance(input_row, train_row):
    distance = list(
        1 
        if type(input_row[i]) == str & training_row[i] != input_row[i] else 0
        for i in range(len(input_row))
    )
#     distance = []
#     for t_col, i_col in zip(train_row, input_row):
#         if t_col != i_col:
#             distance.append(1)
#         else:
#             distance.append(0)

    return sum(distance)

factors = [ 'Pclass', 'Port', 'Gender']
hamming = DistanceMetric.get_metric('hamming')

In [36]:
def euclidian_distance(row, train_row):
    distance = list((row[i] - train_row[i])^2
                     for i in range(len(input_row)) if isnumeric(row[i]) & isnumeric(train_row[i])
               )
    return sqrt(sum(distance))

numericals = ['Age', 'SibSp', 'Parch', 'Fare']
euclidian = DistanceMetric.get_metric('euclidean')

In [37]:
def knn(row, train, k):
    distance = []
    for train_row in train:
        hamming = hamming_distance(row, train_row[factors])
        euclidian  = euclidian_distance(row, train_row[numericals])
        distance.append(hamming + euclidian)
    distance.sort(key=operator.itemgetter(0))
    out = distance[ :k]
    return (row[id], 1 if sum(out) > k//2 else 0)

who_dies = []
for row in titanic_dataframe:
    print(knn(row, titanic_dataframe, 10))
# knn(titanic_dataframe.iterrows(), titanic_dataframe, 10)

TypeError: string indices must be integers