In [1]:
import pandas
import numpy
from math import sqrt
import operator

MY_TITANIC_TRAIN ='./sample_data/train.csv'
df = pandas.read_csv(MY_TITANIC_TRAIN)
df.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [2]:
prob_survive = df[df.Survived == 1]['Survived'].count() / df['Survived'].count()
print(prob_survive)

0.383838383838

#### Probability of survival is 38.38%

In [3]:
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
prob_manly_man = df[df.Gender == 1]['Gender'].count() / df['Gender'].count()
print(prob_manly_man)

0.64758698092

#### Probability of being a man is 64.76%

In [9]:
df['Embarked'].fillna(method='ffill', inplace=True)
df['Port'] = df['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)
prob_cher_alive = df[(df.Port == 1) & (df.Survived == 1)]['Survived'].count() / df[df.Survived == 1]['Survived'].count()
print(prob_cher_alive)

0.27485380117

### Probability of a survivor being from Cherbourg in 27.48%